.material-icons{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    color: darkgrey;
}

.material-icons:hover{
    color:black
}

.star {
    color: darkgrey
}

.star.active {
    color: orange
}

.editButton {
    position: absolute;
    bottom: -10%;
    opacity: 0;
}

.copypaste {
    position: relative;
}

.copypaste:hover > .editButton{
    opacity: 0.5;
}

.editButton:hover {
    opacity: 1;
}